configuration {
    show-icons:                  false;
}

window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       70%;
    height:                      8em;
    cursor:                      "default";
    background-color:            #212121;
    border:                      2px;
    border-radius:               3px;
    border-color:                @border-red;
}

mainbox {
    enabled:                     true;
    padding:                     1.5em;
    background-color:            transparent;
    children:                    [ "listview" ];
}

listview {
    enabled:                     true;
    columns:                     5;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-columns:               true;

    spacing:                     1em;
    background-color:            transparent;
    cursor:                      "default";
}

element {
    enabled:                     true;
    padding:                     1.5em 0.5em;
    border-radius:               12px;
    background-color:            #181818;
    text-color:                  #ffffff;
    cursor:                      "pointer";
}

element selected.normal {
    background-color:            @select-bg;
    text-color:                  @select-fg;
}

element-text {
    font:                        "JetBrainsMono Nerd Font 14";
    font-weight:                 bold;
    cursor:                      "inherit";
    background-color:            transparent;
    text-color:                  inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}

* {
    border-red:     #ff3333;
    select-bg:      #a63a3a;
    select-fg:      #ffffff;
}
